@font-face {
    font-family: poppins;
    src: url();
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: poppins;
} 

body
{
    background-color: rgb(235, 233, 233);
}

#home
{
    /* background-color: red; */
    width: 100%;
    height: 80vh;
}

.icon
{
    width: 50%;
    height: 10vh;
    position: absolute;
    display:flex;
    align-items: center;    
}

.icon img
{
    width: 3%;
    margin: 0 3% ;
}

.nav-bar
{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #7268e4;
}

.nav-bar ul li
{
    text-transform: uppercase;
    display: inline;
    margin-right: 30px;
}

.nav-bar ul li:nth-child(4)
{
    background-color: #FADF47;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
}

.nav-bar ul li a:hover
{
    border-bottom: 3px solid #FADF47;
    padding-bottom: 5px;
}

a
{
    text-decoration: none;
    color: black;
}


.slider
{
    width: 45%;
    margin: 30vh auto;
    overflow: hidden;
    border-radius: 15px;
}

.slider ul
{
    
    display: flex;
    width: 300%;
    animation: cambio 15s infinite alternate linear;
}

.slider ul li
{
    width: 100%;
}

.slider img
{
    width: 100%;
           border-radius: 20px; 
}

@keyframes cambio
{
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -200%;}
    100% { margin-left: -200%;}
}



@media (max-width: 700px)
{
    /* ============================
        MENU HAMBURGUESA    
============================ */

    .nav-bar{
        position: fixed;
        height: 50vh;
        width: 100%;
        top: 0;
        clip-path: circle(0px at top right);
        transition: clip-path ease-in-out 700ms;
        justify-content: center;
    }
    .nav-bar ul 
    {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .nav-bar ul li
    {
        border-bottom: 1px solid #FADF47;
        padding-bottom: 10px;
        margin: 15px;
    }

    .nav-bar ul li a:hover 
    {
        border: none;
    }

    .site-nav-open{
        clip-path: circle(150% at top right);
    }
    .nav-bar ul li
    {   
        display: block;        
    }

    .icon
    {
        position: relative;
    }

    .icon img
    {
        width: 10%;
    }

    header h1
    {
        font-size: 1.2rem;
    }


    .menu-toggle{

        padding: 1em;
        position: absolute;
        top: .5em;
        right: .5em;
        
    }
    .menu-open .hamburger{
        transform: rotate(45deg);
    }
    .menu-open .hamburger::before{
        opacity: 0;
    }
    .menu-open .hamburger::after{
        transform: translateY(-3px) rotate(-90deg);
    }
    .hamburger,
    .hamburger::before,
    .hamburger::after{
        content: '';
        display: block;
        background: black;
        height: 3px;
        width: 1.75em;
        border-radius: 3px;
        transition: all ease-in-out 500ms;
    }

    .hamburger::before{
        transform: translateY(-6px);
    }
    .hamburger::after{
        transform: translateY(3px);
    }   
}