@font-face {
    font-family: poppins;
    src: url();
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: poppins;
} 

body
{
    background-color: rgb(235, 233, 233);
}

#home
{
    /* background-color: red; */
    width: 100%;
    height: 10vh;
    margin-bottom: 10vh;
}

.icon
{
    width: 50%;
    height: 10vh;
    position: absolute;
    display:flex;
    align-items: center;    
}

.icon img
{
    width: 3%;
    margin: 0 3% ;
}

.nav-bar
{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #7268e4;
}

.nav-bar ul li
{
    text-transform: uppercase;
    display: inline;
    margin-right: 30px;
}

.nav-bar ul li:nth-child(3)
{
    background-color: #FADF47;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
}

.nav-bar ul li a:hover
{
    border-bottom: 3px solid #FADF47;
    padding-bottom: 5px;
}

a
{
    text-decoration: none;
    color: black;
}


/* ============================
    COMIENZA EL formulario
============================ */

.form
{
    width: 70%;
    height: 70vh;
    /* border: 1px solid; */
    margin: auto;
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.425);
}

.text-form
{
    /* border: 1px solid; */
    width: 30%;
    height: 100%;
    background: linear-gradient(45deg, rgba(114,104,228,1) 31%, rgba(250,223,71,1) 89%);
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(34, 33, 37);
}


.text-form h1
{
    text-transform: uppercase;
    margin-bottom: 10vh;
    padding: 0;
    top: 0;
    font-size: 1.7rem;
}

.text-form i{
    font-size: 5rem;
}

.text-form p
{
    margin: 10px 0;
    font-size: 1.1rem;

}



.datos
{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    border-radius:0 20px 20px 0;
    margin: auto;
}

.datos input
{
    width: 80%;
    text-decoration: none;
    border: 0px solid;
    background-color: rgb(235, 233, 233);
    border-bottom: 1px solid;
    /* margin: 5% 20%; */
    padding: 5px;
    text-align: center;
}

.datos input:focus
{
    outline: none;
}

.datos p
{
    font-size: .9rem;
    margin: auto;
}

.datos button
{
    width: 35%;
    height: 5vh;
    margin: auto;
    border-radius: 10px;
    background-color:#7268e4;
    color: white;
    border: none;
    cursor: pointer;
}

.datos button:hover
{
    background-color: #FADF47;
    color: black;
}

.datos a 
{
    font-size: .8rem;
}

.datos a:hover
{
    border-bottom: 1px solid #7268e4;
}

/* ============================
    COMIENZA EL RESPONSIVE
============================ */


@media (max-width: 700px)
{
    .form
    {
    width: 80%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5vh;
    }

    

    .text-form
    {
        width: 100%;
        height: 40%;
        border-radius: 20px 20px 0 0;
        text-align: center;
        /* margin-bottom: 10vh; */
    }

    .text-form h1
    {
        margin: 10px;
    }

    .datos
    {
        width: 100%;
        height: 60%;
        padding: 10px;
        /* flex-direction: column; */
        border-radius: 0 0 20px 20px;
    }

    .datos input 
    {
        width: 80%;
        text-align: center;
    }

    .datos button
    {
        margin-top: 5vh;
        width: 30%;
    }

/* ============================
        MENU HAMBURGUESA    
============================ */

    .nav-bar{
        position: fixed;
        height: 50vh;
        width: 100%;
        top: 0;
        clip-path: circle(0px at top right);
        transition: clip-path ease-in-out 700ms;
        justify-content: center;
    }
    .nav-bar ul 
    {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .nav-bar ul li
    {
        border-bottom: 1px solid #FADF47;
        padding-bottom: 10px;
        margin: 15px;
    }

    .nav-bar ul li a:hover 
    {
        border: none;
    }

    .site-nav-open{
        clip-path: circle(150% at top right);
    }
    .nav-bar ul li
    {   
        display: block;        
    }

    .icon
    {
        position: relative;
    }

    .icon img
    {
        width: 10%;
    }

    header h1
    {
        font-size: 1.2rem;
    }


    .menu-toggle{
    
        padding: 1em;
        position: absolute;
        top: .5em;
        right: .5em;
        
    }
    .menu-open .hamburger{
        transform: rotate(45deg);
    }
    .menu-open .hamburger::before{
        opacity: 0;
    }
    .menu-open .hamburger::after{
        transform: translateY(-3px) rotate(-90deg);
    }
    .hamburger,
    .hamburger::before,
    .hamburger::after{
        content: '';
        display: block;
        background: black;
        height: 3px;
        width: 1.75em;
        border-radius: 3px;
        transition: all ease-in-out 500ms;
    }

    .hamburger::before{
        transform: translateY(-6px);
    }
    .hamburger::after{
        transform: translateY(3px);
    }    
}


