@font-face {
    font-family: poppins;
    src: url();
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: poppins;
} 

body
{
    background-color: rgb(235, 233, 233);
}

#home
{
    width: 100%;
    /* margin-bottom: -10vh; */
}

.icon
{
    width: 50%;
    height: 10vh;
    position: absolute;
    display:flex;
    align-items: center;    
}

.icon img
{
    width: 3%;
    margin: 0 3% ;
}

.nav-bar
{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #7268e4;
}

.nav-bar ul li
{
    text-transform: uppercase;
    display: inline;
    margin-right: 30px;
}

.nav-bar ul li:nth-child(4)
{
    background-color: #FADF47;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
}

.nav-bar ul li a:hover
{
    border-bottom: 3px solid #FADF47;
    padding-bottom: 5px;
}

a
{
    text-decoration: none;
    color: black;
}

.second-nav
{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

.second-nav ul li
{
    display: inline;
    margin: 15px;
    font-size: 1.2rem;
}

.second-nav input
{
    border-radius: 10px;
    border: 1px solid;
    width: 20%;
    padding:5px;
    outline: none;
    text-align: center;
    margin-right: 10px;
    margin-left: 7%;
}

.second-nav a:hover
{
    padding-bottom: 10px;
    border-bottom: 3px solid #FADF47;
    transform: scale(1.2);
}

.btn-serch
{
    background: #FADF47;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid;
}

.btn-serch:hover
{
    color: white;
    background: #7268e4;
}



.header-info
{
    width: 40%;
    height: 100%;
    margin: auto;
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-info h2
{
    text-transform: uppercase;
    font-size: 2.2rem;
    margin-bottom: 3%;
}

.header-info p
{
    font-size: 1.1rem;
}

.store
{
    display: flex;
    flex-direction: row;
}

.store a 
{
    width: 30%;
    margin: 5% auto;
}


.store img
{
    width: 100%;
    border-radius: 10px;
}

.store a img:hover
{
    transform: scale(1.1);
}

.phone-img
{
    width: 40%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-img img
{
    width: 70%;
}




.container
{
    margin:15vh auto;
    /* padding: 0; */
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.container-img
{
    width: 40%;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
}

.container-img img
{
    width: 70%;
}



.container-info
{
    width: 40%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-info h2
{
    text-transform: uppercase;
    font-size: 2.2rem;
    margin-bottom: 5vh;
    color: #7268e4;
    /* -webkit-text-stroke: 1px rgba(0, 0, 0, 0.774); */
    border-bottom: 2px solid #7268e4;
}

.container-info p
{
    font-size: 1.1rem;
}

.container-btn
{  
    width: 30%;
    height: 5vh;
    border-radius: 10px;
    border: none;
    background-color: #FADF47;
    margin-top: 5vh;
}

.container-btn:hover
{
    cursor: pointer;
    background-color: #7268e4;
    color:white;
}

footer
{
    width: 100%;
    height: 40vh;
    background-color: rgb(51, 50, 56);
}

.foot-page
{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px;
}

.redes
{
    width: 30%;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.redes img
{
    width: 7%
}

.icons
{
    margin-top: 5%;
    font-size: 1.5rem;
}

.icons a i
{
    margin-left: 10px;
}

.icons a i:hover
{
    color: #7268e4;
}

.sector-2 h3
{
    font-size: 1.4rem;
    color: #FADF47 ;
    border-bottom: 1px solid;
    margin-bottom: 15px;
    padding: 0 20px;
}

.sector-2 ul a li
{
    /* margin-top: 10px; */
    font-size: 0.9rem;
    color: white;
}

.sector-2 ul a li:hover
{
    color: #7268e4;
}

.sector-2 ul a 
{
    font-size: 0.9rem;
}

.sector-3 ul a li
{
    font-size: 0.8rem;
    color: white;
    margin-bottom: 10px;
}

.sector-3 ul a li:hover
{
    color: #7268e4;
}

.politica
{
    width: 70%;
    font-size: 0.7rem;
    align-items: center;
    text-align: center;
}

.finish
{
    width: 100%;
    height: 15%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 700px)
{
    .container-header
    {
        flex-wrap: wrap;
    }
    .header-info
    {
        width: 100%;
    }

}